.inputWrapper {
    width: fit-content;
    position: relative;
}

.textInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    width: 130px;
    border-radius: 4px;
    margin: 0;
    background-color: var(--WHITE1);
}

.textInputDay {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}

.textInputDay:focus,
.textInput:focus,
.textInputYear:focus {
    outline: none;
    border: none;
}

.textInput {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    background-color: var(--WHITE1);

}


.textInputYear {
    width: 5ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}


.textInputDivider {
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-left: -2px;
    margin-right: -2px;
}

.inputIcon {
    margin: auto;
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.calendarContainer {
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: var(--SHADOW-MD);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    /* width: 100%; */
    height: 320px;
    border: 1px solid var(--GRAY1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    background-color: var(--WHITE1);
}

@media screen and (max-width:1260px) {

    .textInputContainer {
        width: 90px;
    }

    .textInput, .textInputDay, .textInputDivider, .textInputYear {
        font-size: 10px;
    }


    .inputIcon {
        margin-left: 0 !important;
        margin-right: 0;
    }

    .inputIcon > svg {
        width: 14px;
        height: 14px;
    }


}

/* Time Picker CSS */


.timeInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    background-color: var(--WHITE1);
    width: 86px;
    border-radius: 4px;
    margin: 0;
}

.timeInputDay {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}

.timeInput:focus {
    outline: none;
    border: none;
}

.timeInput {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}

.timeInputDivider {
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-left: -2px;
    margin-right: -2px;
}

.inputIcon {
    margin: auto;
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.pickerInput {
    display: none;
}

.pickerPopup {
    background-color: var(--BLACK1-30);
}

@media screen and (max-width:1260px) {
    
        .timeInputContainer {
            width: 60px;
        }
    
        .timeInput, .timeInputDay, .timeInputDivider {
            font-size: 10px;
        }


}

/* Coordinates Selection */

.coordContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.coordContainer>label {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.coordInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 5px;
}

.decInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    width: 8ch;
    border-radius: 4px;
    text-align: center;
}

.decInputBox {
    position: relative;
}

.decInputBox::after {
    content: "°";
    position: absolute;
    right: 0px;
    top: 1px;
    bottom: 0;
    margin: auto;
    padding-right: 6px;
    font-size: 14px;
    /* background-color: red; */
}

.dmsInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    background-color: var(--WHITE1);
    width: 110px;
    border-radius: 4px;
}

.dmsInput {
    border: none;
    width: 32px;
    text-align: center;
}

.dmsInput:focus {
    outline: none;
    border: none;
}

.dmsInputBox {
    position: relative;
}

.dmsInputBox:nth-of-type(1)::after {
    content: "°";
    position: absolute;
    right: -8px;
    top: 1px;
    bottom: 0;
    margin: auto;
    padding-right: 6px;
    font-size: 14px;
    /* background-color: red; */
}

.dmsInputBox:nth-of-type(2)::after {
    content: "\'";
    position: absolute;
    right: -8px;
    top: 1px;
    bottom: 0;
    margin: auto;
    padding-right: 6px;
    font-size: 14px;
    /* background-color: red; */
}

.dmsInputBox:nth-of-type(3)::after {
    content: "\"";
    position: absolute;
    right: -8px;
    top: 1px;
    bottom: 0;
    margin: auto;
    padding-right: 6px;
    font-size: 14px;
    /* background-color: red; */
}

.coordType {
    display: flex;
    flex-direction: row;
    gap: 6px;
    /* margin-top: 10px; */
    margin-left: 5px;
    height: 100%;
}

.coordTypeOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    width: 30px;
    height: 30px;
}

.coordTypeText {
    font-size: 10px;
    font-weight: 600;
    margin: 0;
}

.coordTypeButton {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--GRAY1);
    background-color: var(--WHITE1);
    cursor: pointer;
    /* padding: 2px; */
    
}

.coordTypeButtonActive {
    background-color: var(--BLUE1);
    border: none;
}

@media screen and (max-width:1260px) {

    .coordContainer {
        flex-wrap: wrap;
    }

    .coordContainer > label {
        font-size: 12px;
    }

    .decInput {
        font-size: 10px;
    }

    .dmsInput {
        font-size: 10px;

    }

    .dmsInputContainer {
        width: 96px;
        padding-left: 2px;
    }

    .dmsInput:nth-of-type(1) {
        width: 22px;
    }

    .dmsInputBox:nth-of-type(1)::after {
        content: "°";
        position: absolute;
        right: -11px;
        top: 1px;
        bottom: 0;
        margin: auto;
        padding-right: 8px;
        font-size: 14px;
        /* background-color: red; */
    }
    
    .dmsInputBox:nth-of-type(2)::after {
        content: "\'";
        position: absolute;
        right: -11px;
        top: 1px;
        bottom: 0;
        margin: auto;
        padding-right: 8px;
        font-size: 14px;
        /* background-color: red; */
    }
    
    .dmsInputBox:nth-of-type(3)::after {
        content: "\"";
        position: absolute;
        right: -11px;
        top: 1px;
        bottom: 0;
        margin: auto;
        padding-right: 8px;
        font-size: 14px;
        /* background-color: red; */
    }

    .coordType {
        flex-direction: row;
        gap: 14px;
        order: 1;
    }

    .coordTypeOptions {
        gap: 2px;
    }
    
    .coordTypeText {
        font-size: 8px;
        margin-left: 0;
    }




}

/* City Selection */

.citySelectionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 5px;
}

.countryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.countryModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 22px;
    left: 0;
    background-color: white;
    border: 1px solid black;
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 999;
    width: 100%;
}

.countryModalOpen {
    display: flex;
}

.countryModalOption {
    text-align: left;
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 10px;
    max-width: 300px;
    cursor: pointer;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.countryModalOption:hover {
    background-color: var(--GRAY1);
}

.locationInput {
    height: 28px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    background-color: var(--WHITE1);
    width: 110px;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

@media screen and (max-width:1260px) {
    
        .locationInput {
            font-size: 10px;
        }
    
}


/* timezones */

.timezoneContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.timezoneAbv{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
    background-color: #f6f6f6;
    border: 1px solid var(--GRAY1);
    height: 30px;
    border-radius: 4px;
    padding: 0 5px;
    line-height: 30px;
    cursor: not-allowed;
}

.timezoneHour{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
    background-color: #f6F6F6;
    border: 1px solid var(--GRAY1);
    height: 30px;
    border-radius: 4px;
    padding: 0 5px;
    line-height: 30px;
    cursor: not-allowed;

}

.timezoneHourMini{
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    margin-right: 5px;
}

@media screen and (max-width:1260px) {
    
    .timezoneAbv{
        font-size: 10px;
    }
    
    .timezoneHour{
        font-size: 10px;
    }
    
    .timezoneHourMini{
        font-size: 8px;
    }
    

}