.inputWrapper {
    width: 100%;
    position: relative;
}

.textInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    width: 130px;
    border-radius: 4px;
}

.textInputDay {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}

.textInputDay:focus,
.textInput:focus,
.textInputYear:focus {
    outline: none;
    border: none;
}

.textInput {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}


.textInputYear {
    width: 5ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}


.textInputDivider {
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-left: -2px;
    margin-right: -2px;
}

.inputIcon {
    margin: auto;
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.calendarContainer {
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: var(--SHADOW-MD);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    /* width: 100%; */
    height: 320px;
    border: 1px solid var(--GRAY1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    background-color: var(--WHITE1);
}

/* Time Picker CSS */


.timeInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 2px;
    border: 1px solid var(--GRAY1);
    width: 86px;
    border-radius: 4px;
}

.timeInputDay {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}

.timeInput:focus {
    outline: none;
    border: none;
}

.timeInput {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;

}




.timeInputDivider {
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-left: -2px;
    margin-right: -2px;
}

.inputIcon {
    margin: auto;
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}



.pickerInput {
    display: none;
}

.pickerPopup {
    background-color: var(--BLACK1-30);
}