.svgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 900px;
    margin: auto;
    margin-top: 10px;
    aspect-ratio: 1/1;
    /* min-height: 400px;
    max-width: 400px; */
    /* pointer-events: none; */
    position: relative;
}

.svgContainer > svg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    z-index: 9;
    


}

@media screen and (max-width: 800px) {
    .svgContainer {
        width: 100vw;
        height: 100vw;
        margin-top: 70px;
    }
  
}

@media screen and (max-width: 420px) {

    .svgContainer > svg {
        margin-left: -250px;
        margin-top: -370px;
        transform: scale(0.6);
        overflow: visible;
    }
}

 @media screen and (max-width: 500px) and (min-width:420px) {

    .svgContainer > svg {
        margin-left: -250px;
        margin-top: -370px;
        transform: scale(0.7);
        overflow: visible;
    }
}

@media screen and (max-width: 550px) and (min-width:500px) {

    .svgContainer > svg {
        margin-left: -250px;
        margin-top: -370px;
        transform: scale(0.8);
        overflow: visible;
    }
} 

@media screen and (max-width: 600px) and (min-width:550px) {

    .svgContainer > svg {
        margin-left: -220px;
        margin-top: -370px;
        transform: scale(0.9);
        overflow: visible;
    }
} 

@media screen and (max-width: 700px) and (min-width:600px) {

    .svgContainer > svg {
        margin-left: -190px;
        margin-top: -300px;
        transform: scale(1);
        overflow: visible;
    }
} 

  .signSymbol {
    cursor: pointer;
}