.pageContainer2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* height: 100vh; */
  /* padding-bottom: 200px; */
}

.button {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  background: transparent;
}

.button:hover {
  background-color: black;
  color: #fff;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 100vw;

}

.formContainer {
  width: 100%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  margin: auto;
  width: 400px;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .form {
    width: 350px;
  }
  
}

.title {
  width: 400px;
  margin-top: 0;
}

.form > label {
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
}

.form > button {
  margin-top: 10px;
  background-color: rgb(41, 160, 41);
  border: none;
  color: #fff;
  padding: 4px 10px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  /* overflow-x: scroll; */
}

.th,
.td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 100%;
  
}


.th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* CSS for table rows */
.tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tr:hover {
  background-color: #e5e5e5;
}

/* CSS for table container */
.tableContainer {
  width: 96%;

  max-width: 1280px;
  margin: 20px auto;
 
}

.tablesContainer {
  width: 100%;
  padding: 5px;
  max-width: 1280px;
  margin: auto;
  overflow: scroll;
 
}


