.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  padding-bottom: 200px;
}

.button {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}

.button:hover {
  background-color: black;
  color: #fff;
}